body
{
    margin: 0;
}
/* ---------- Nav bar ----------- */
section#nav-bar
{
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    width: 100%;
}
section#nav-bar > img
{
    padding: 3px;
    border: silver 1px solid;
    margin-left: 20px;
    margin: 8px 0 4px 15px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
section#nav-bar > h3
{
    display: inline-block;
    font-family: 'Signika Negative', sans-serif;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 20pt;
    cursor: pointer;
    color: cornsilk;
}
a#mini-text 
{
    margin-left: 40px;
}
section > a
{
    /* border: 1px solid white; */
    float: right;
    text-decoration: none;
    color: cornsilk;
    font-family: 'Ubuntu', sans-serif;
    padding: 18px;
    font-size: 16pt;
    margin-top: 20px;
    margin-left: 10px;
}
section > a:hover
{
    color: gold;
    text-shadow: 2px 2px 5px gold;
}

/* --------- Welcome Section ------------ */
section#welcome
{
    width : 100%;
    position: relative;
}
section#welcome > img
{
    width: 100%;
    height: 610px;
}
section#welcome > div
{
    position: absolute;
    bottom: 5px;
    color: cornsilk;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0 20px;
}
section#welcome > div > h1
{
    font-family: 'Signika Negative', sans-serif;
}

/* ------------------ Section About Us ------------- */
section#about-us
{
    width: 76%;
    margin: auto;
    margin-top: 50px;
}
section#about-us > h1
{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
section#about-us > h1::after
{
    margin: auto;
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background-color: #fdac53;
    margin-top: 10px;
    margin-bottom: 30px;
}
section#about-us > div#img-about
{
    width: 45%;
    display: inline-block;
}
div#img-about > img
{
    width: 100%;
    border-radius: 50%;
}
section#about-us > div#about-text
{
    display: inline-block;
    width: 40%;
    padding-left: 50px;
    vertical-align: top;
}
a#about-intro
{
    font-family: 'Gentium Book Plus', serif;
    font-weight: bold;
}
section#about-us > div#about-text > h2
{
    font-family: 'Signika Negative', sans-serif;
}
section#about-us > div#about-text > p
{
    font-family: 'Nunito', sans-serif;
}
div#about-text > a#about-read
{
    text-decoration: none;
    color: black;
    background-color: #fdac53;
    padding: 12px 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: brown;
    border-radius: 20px;
}
div#about-text > a#about-read:hover
{
    background-color: #e58b1cca;
    color: gold;
    text-shadow: 2px 2px 5px gold;
}

/* ------------ Section Contact Us --------------- */
section#contact-us
{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    /* border: 1px solid black; */
}
section#contact-us > h1
{
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
section#contact-us > h1::after
{
    margin: auto;
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background-color: #fdac53;
    margin-top: 10px;
    margin-bottom: 30px;
}
section#contact-us > form, input[type=submit]
{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
textarea
{
    font-family: 'Nunito', sans-serif;
    border-radius: 15px;
    resize: none;
    padding: 5px;
}
input[type=text], input[type=email]
{
    width: 180px;
    height: 20px;
    padding: 5px;
    font-weight: bold;
    border-radius: 20px;
}
input[type=button]
{
    border-radius: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: brown;
    padding: 4px 21px;
    background-color: #fdac53;
    font-size: 12pt;
}
input[type=button]:hover
{
    background-color: #e58b1cca;
    color: gold;
    text-shadow: 2px 2px 5px gold;
    cursor: pointer;
}
div#contact-map::before
{
    margin: auto;
    margin-left: 40px;
    text-align: center;
    content: "";
    display: block;
    width: 750px;
    height: 2px;
    background-color: #fdac53;
    margin-top: 10px;
    margin-bottom: 20px;
}
div#contact-map
{
    display: inline-block;
    margin-top: 10px;
    width: 40%;
    padding-left: 150px;
}
div#contact-address
{
    margin-top: 55px;
    vertical-align: top;
    display: inline-block;
    width: 40%;
    line-height: 2;
    font-family: 'Nunito', sans-serif;
}